body {
    background: #121212;
    color: white;
    margin: 0;
    font-family: sans-serif;
  }
.container {
  padding: 20px;
  color: white;
  background-color: #121212;
}

.seat-row {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button.selected {
  background-color: #e50914;
}

.confirm-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

