
<!-- <div class="movie-detail-container" *ngIf="movie">
  <img [src]="movie.image_url" [alt]="movie.title" class="movie-poster" />

  <div class="movie-info">
    <h1>{{ movie.title }}</h1>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Description:</strong> {{ movie.description }}</p>
    <p><strong>Duration:</strong> {{ movie.duration }}</p>


  </div>
</div> -->


<div class="movie-detail-container" *ngIf="movie">
  <img [src]="movie.image_url" [alt]="movie.title" class="movie-poster" />

  <div class="movie-info">
    <h1>{{ movie.title }}</h1>
    <p><strong>Genre:</strong> {{ movie.genre }}</p>
    <p><strong>Description:</strong> {{ movie.description }}</p>
    <p><strong>Duration:</strong> {{ movie.duration }} mins</p>

    <h2>Available Showtimes</h2>
    <div class="showtimes" *ngIf="availableShowtimes.length > 0">
      <button *ngFor="let showtime of availableShowtimes" (click)="goToReservation(movie.id, showtime.id)">
        {{ showtime.start_time | date: 'medium' }}
      </button>
    </div>
  


    <p *ngIf="showtimeError" class="error">{{ showtimeError }}</p>
  </div>
</div>
