
<div class="cinema-header">
  <div class="cinema-logo-section">
    <img src="https://cdn-icons-png.flaticon.com/512/2503/2503529.png" alt="Cinema Logo" class="cinema-logo" />
    <h1 class="cinema-name">CCE Cinema</h1>
  </div>
  <div class="auth-buttons">
    <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
      <button class="auth-button" routerLink="/signin">Sign In</button>
      <button class="auth-button" routerLink="/signup">Register</button>
    </ng-container>
    <ng-template #loggedInBlock>
      <button class="auth-button" routerLink="/profile" >Profile</button>
      <button class="auth-button" (click)="logout()">Logout</button>
    </ng-template>
  </div>
</div>
